<h1>Angular Super Seed! ({{ vm.env }} environment)</h1>

<div class="content">
    <img src="img/general/angularman1.svg" class="angularman" />
    <ul class="features">
        <li ng-repeat="feature in vm.features" ng-click="vm.alertMe(feature)">{{ feature }}</li>
    </ul>
    <img src="img/general/angularman2.svg" class="angularman" />
</div>

<a href="https://github.com/Kunstmaan/angular-super-seed" target="_blank" class="btn">github.com/Kunstmaan/angular-super-seed</a>
<p><strong>current state</strong>: {{ $state.current.stateName }}</p>